@model HomeWork1.Models.ViewModels.客戶資料VM

@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.Label("排序欄位：")
                @Html.Label("客戶分類")
                @Html.RadioButtonFor(x => x.排序欄位, (int)HomeWork1.Models.ViewModels.客戶資料排序欄位.客戶分類)
                @Html.Label("客戶名稱")
                @Html.RadioButtonFor(x => x.排序欄位, (int)HomeWork1.Models.ViewModels.客戶資料排序欄位.客戶名稱)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("排序方式：")
                @Html.Label("升冪")
                @Html.RadioButtonFor(x => x.排序方式, (int)HomeWork1.Models.排序方式.升冪)
                @Html.Label("降冪")
                @Html.RadioButtonFor(x => x.排序方式, (int)HomeWork1.Models.排序方式.降冪)
            </td>
        </tr>
    </table>
    @Html.EnumDropDownListFor(model => model.分類查詢, new { onchange = "this.form.submit();" })
    <input type="submit" value="搜尋"/>
    @Html.ActionLink("下載Excel", "DownLoadExcel", null, htmlAttributes: new { @class = "btn btn-primary btn-large" })
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().客戶分類)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().客戶名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().統一編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().傳真)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.FirstOrDefault().經度n)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.客戶資料)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶分類)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.經度n)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
